:root {
  --main-color: #212121;
  --second-color: #757575;
  --hover-color: #2196f3;
}
/* Студия */
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo > span {
  color: var(--hover-color);
}
/* Навигация */
.studio-link {
  color: var(--hover-color);
}
.site-nav,
.nav-link,
.contacts,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .nav-link:hover,
.contacts .contacts-link:hover,
.site-nav .nav-link:focus,
.contacts .contacts-link:focus {
  color: var(--hover-color);
}
.contacts {
  color: var(--second-color);
}
/* Герой */
.hero {
  background-color: #2f303a;
}
.hero > .hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero > .button {
  color: #ffffff;
  background-color: var(--hover-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
/* Особенности */
.features,
.features-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.features,
.features-content {
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
/* Чем мы занимаемся */
.we-doing > .we-doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наша команда */
.our-team > .our-team-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team,
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}
.our-team,
.team-content {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
/* Футер */
/* Адресс */
.address {
  font-style: normal;
}
.footer > .footer-logo {
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
}
.footer-logo,
.address,
.map-link:hover {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address,
.contacts {
  color: var(--second-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address,
.contacts:hover {
  color: var(--hover-color);
}
/* Портфолио */
/* Навигация */
.portfolio-link {
  color: var(--hover-color);
}
/* Уникальный Контент */
.portfolio,
.btn-filter {
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}
.portfolio .btn-filter:hover {
  background-color: var(--hover-color);
}
.portfolio .portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .portfolio-content {
  color: var(--second-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
